*{
    margin: 0;
    padding: 0;
}
:root{
    --darkpurple: #342C55;
    --purple:#4d2fa5;
    --brightpurple: #612cff;
    --beige: #F2D6DA;
}
html,body{
    height: 100%;
    scrollbar-width: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
header{
    background-color: darkred;
    color: white;
    height: max-content;
    min-width: 100%;
    margin-bottom: 5px;
    box-shadow: 2px 0px 5px black;
}
h1{
    text-align: center;
    padding: 10px;
    text-shadow: 3px 3px black;
}
header h1{
    text-align: center;
    font-size: 2.5em;
    user-select: none;
}
#burguer{
    background-color: grey;
    display: block;
    position: relative;
    width: 100vw;
    font-size: 2em;
    margin: auto;
    cursor: pointer;
    text-align: center;
}
#burguer:hover{
    background-color: white;
    color: black;
}
#idlinks{
    gap: 5px;
    list-style: none;
    display: none;
    flex-direction: column;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px black;
    transition: all .5s;
}
li{
    background-color: darkred;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.522);
}
li:hover{
    background-color: rgb(164, 0, 0);
    text-shadow: 1px 2px black;
    transition: all .3s;
}
main{
    background-color: grey;
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 10px;
    padding: 10px;
    max-width: 80%;
    min-height: fit-content;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.678);
    border: 3px solid black;
}
main h1{
    font-size: 1.5em;
}
p{
    margin: 30px 10px;
    font-size: 2.2vh;
}
footer{
    background-color: darkred;
    margin-top: 5px;
    bottom: 0;
    height: 30px;
    width: calc(100% - 3px);
    text-align: center;
    border: 2px solid black;
}
footer span{
    height: 100%;
}
footer a:hover{
    text-decoration: underline 1px solid white;
}
@media screen and (min-width: 760px) and (orientation: landscape){
    main{
        width: 70%;
        border-radius: 10px;
        margin: auto;
        margin-top: 2.5%;
    }
    header{
        border: 2px solid black;
    }
    header h1{
        font-size: 6.5vh;
    }
    main h1{
        font-size: 4vh;
    }
    main p{
        font-size: 1.25vw;
    }
    #burguer{
        display: none;
    }
    #idlinks{
        display: flex;
        gap: 5px;
        list-style: none;
        margin-left: 5px;
        flex-direction: row;
    }
    nav{
        background-color: grey;
    }
    li{
        font-size: 1.1vw;
        width: 4.5vw;
        height: 2vh;
        padding: 8px 5px;
        line-height: 2vh;
    }
    footer{
        height: 5vh;
        line-height:5vh
    }
    footer a{
        height: 100%;
    }
}
@media print{
    header, main{
        border: 1px solid black;
    }
    nav, footer a{
        display: none;
    }
    footer::after{
        content: "Essa versão do site é exclusiva para impressão";
    }
}
